
body, h1, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color:lightblue;
}


.burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 20px;
}

.bar {
    width: 35px;
    height: 5px;
    background-color:black;
    margin: 5px 0;
    transition: 0.3s;
}


.content {
    text-align: center;
}


.burger-menu.active .bar:nth-child(1) {
    transform: rotate(45deg);
    position: relative;
    top: 10px;
}

.burger-menu.active .bar:nth-child(2) {
    opacity: 0;
}

.burger-menu.active .bar:nth-child(3) {
    transform: rotate(-45deg);
    position: relative;
    top: -10px;
}
